body{
  background-color: #f2f2f2;
}

.md .navbar-inner{
  background: #343A40;
  color: #fdd000;
}

.md a{
  background: #343A40;

}

.md .toolbar a{
  color: #fdd000;
}

.md .tabbar-labels a.tab-link.tab-link-active{
  color: #fdd000;
}

.item-title{
  color: #fdd000;
}

.signUp-title{
    color: #343A40;
}

.md .links-list a{
  color: #fdd000;
}

.md .button.button-fill{
  background-color: #343A40;
  color: #fdd000;
}

.currentExercise{
  text-align: center;
  font-size: 40px;
  padding-top: 25px;

}

.floating-box{
  display: inline-block;
  width: 350px;
  height: 175px;
  margin: 10px;
  border: 3px solid #343A40;
  background-color: #DCDCDC;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid-item{
  padding: 10px;
}

b{
  font-weight: 1000;
}

#leftPanelButton{
  background-color: #fdd000;
  color: #343A40;
  margin-bottom: 2em;
}

.fa-bars{
  color: #fdd000;
}


